<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Posição na Pesquisa</h4>
</div>
<div class="modal-body">
    <div class="col-sm-12">
        <p>
            <b>Info</b>
        </p>
        <p>Nº Máximo de registros exibidos : 10!
        </p>
        <p>Exibe apenas os registros com posição cadastrada!</p>
        <div class="form-group">
            <label for="searchBar">Procurar:</label>
            <div class="input-group">
                <!--Estava faltando essa div-->
                <input type="text" class="form-control" id="searchBar" placeholder="Nome:" ng-model="pesquisa.nome" ng-enter="pesquisar(pesquisa.nome)"/>
                <span class="input-group-btn">
                    <!--Estava faltando esse span-->
                    <button type="submit" class="btn btn-info" value="Procurar" ng-click="pesquisar(pesquisa.nome)">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody ng-repeat="x in resultadoPesquisa" ng-click="setSelected(x)">
            <tr>
                <td></td>
                <td>{{x.nome}}</td>
                <td>
                    <button type="button" ng-click="imagemModal()">
                        <span class="glyphicon glyphicon-new-window" onchange="openModal()"></button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <p><b>Elemento Selecionado:</b> {{entidadeSelecionada.nome}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <input type="text" name="" value="" ng-disabled="true" style="margin-top:18px; width:30px;" class="pull-left" 
                    placeholder="{{ramificacao}}"></input>
                <button class="pull-right btn" type="button" name="button" style="margin-top:18px" ng-disabled="true">{{posicao1}}</button>
            </div>
            <div class="col-sm-5">
                <button class="btn" type="button" name="button" 
                    ng-disabled="entidadeSelecionada.nome === '' || 
                    (valorPosicao !== undefined && valorPosicao !== null) || posicao3 !== '-------------'"
                    ng-class="{'btn-primary' : posicaoSelecionada == '0'}" ng-click="mudarPosicaoSelecionado(0)">{{posicao3}}</button>

            </div>
            <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-5">
                    <button class="btn" type="button" name="button" style="margin-top:10px" ng-class="{'btn-primary' : posicaoSelecionada == '1'}"
                        ng-disabled="entidadeSelecionada.nome === '' || (valorPosicao !== undefined && valorPosicao !== null) || posicao4 !== '-------------'"
                        ng-click="mudarPosicaoSelecionado(1)">{{posicao4}}</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-sm-12" style="margin-bottom:20px;">

        <div class="row">
            <h2>Representação</h2>
            <div class="col-sm-6">
                <input type="text" name="" value="" ng-disabled="true" style="margin-top:18px; width:80px;" class="pull-left" placeholder="Ramific."></input>
                <button class="pull-right btn" type="button" name="button" style="margin-top:18px" ng-disabled="true">Antecessor</button>
            </div>
            <div class="col-sm-6">
                <button class="btn" type="button" name="button" ng-disabled="true">Escolha 1</button>

            </div>
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <button class="btn" type="button" name="button" style="margin-top:10px" ng-disabled="true">Escolha 2</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="alterar()" ng-disabled="entidadeSelecionada.nome === '' || posicaoSelecionada === null">Alterar</button>
    <button type="button" class="btn btn-default" ng-click="close()">Fechar</button>
</div>