footer {
    min-height: 100px;
    background-color: rgb(180, 191, 181) !important;
}

.mBottom {
    margin-bottom: 20px;
}

.titleCard {
    background-color: rgba(128, 128, 128, 0.2);
}

.imagemCadatro img {
    max-height: 100%;
    max-width: 100%;
}

.app-modal-window .modal-body {
    height: 90%;
}
@media screen and (max-width: 799px) {
    .app-modal-window .modal-content {
        max-width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .app-modal-window .modal-content {
        width: 1000px;
        margin-left: -30%;
    }
}

.app-modal-window .modal-header {
  background-color: rgba(0, 0, 208, 0.52);
}

.modal-imagem .modal-body {
    height: 300px;
}

.modal-imagem .modal-header {
    background-color: green;
}

.modal-caracteristica .modal-body {
  height : 450px;
}

.modal-caracteristica .modal-header {
  background-color: rgb(0, 137, 237);
}

.modal-posicao .modal-header {
    background-color: green;
}

.modal-posicao .modal-body  {
    height: 400px !important;
}

.modal-posicao .btn-primary{
  min-height: 36px !important;
  min-width: 90px !important;
}

@media screen and (max-width: 799px) {
    .modal-posicao .modal-content {
        max-width: 100%;
    };
}

@media screen and (min-width: 800px) {
    .modal-posicao .modal-content {
        width: 1200px;
        margin-left: -50%;
    };
}

.mTop {
    margin-top: 10px;
}

.iconeFooter {
    margin: 10px;
    max-heigth: 300px;
    max-width: 300px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

/*.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}*/

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
