<div class="row jumbotron" style="padding:0px; heigth:65px !important; padding-left: 20px !important;">
    <h2>Cadastro da Ordem de Insetos</h2>
</div>
<form class="" name="cadastroOrdemForm">

    <div class="col-sm-12" style="background-color:white; padding-bottom:10px">
        <div class="col-sm-7" style="padding-left:0px; margin-top: -6px;">
            <p>Info: Insira uma imagem correspondente para visualização da ordem correspondente.</p>
            <form id="fileupload">
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-12">
                        <!-- O fileinput-botton span é usado para estilizar o campo de arquivo no botão -->
                        <span class="btn btn-success input-group btn-block">
                            <input type="file" class="form-control-file" accept="image/*" file-model="url.image" onchange="readURL(this);" ng-required="true" style="max-heigth:100%; max-width:100%" ng-blur="alterarImagem()"/>
                        </span>
                        <div class="imagemCadatro mTop">
                          <img id="blah" src="#" alt="imagem" ng-show="url.image !== undefined">
                          <img id="imagemEdicao" src="uploads/{{ordem.imagem}}" alt="Imagem Ordem" ng-show="url.image === undefined && editMode === true && imagemAlterada === false">
                          <img id="temp" class="mTop" src="img/sem-imagem.png" alt="sem-imagem" ng-show="url.image === undefined && editMode === false" ng-required="true" >
                      </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <fieldset >
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="infoCadastro">Nome do Ordem</label>
                            <input type="text" class="form-control" name="name" value="" ng-model="ordem.nome" ng-required="true">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="infoCadastro">Inseto Referência</label>
                            <input type="text" class="form-control" name="name" value="" ng-model="ordem.insetoReferencia" ng-required="true">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr>
                        <h4 style="text-align: center;">Listagem de Características Vinculadas</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Remover Tudo
                                            <button type="button" name="button" ng-click="removerTudo()">
                                                <span class="glyphicon glyphicon-remove" style="color:red;"></button>
                                            </th>
                                            <th>Adicionar
                                                <button type="button" data-toggle="modal" data-target="#myModal" onclick="removerClasseInvalida()" ng-click="abrirCaracteristicas()">
                                                    <span class="glyphicon glyphicon-zoom-in"></span>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in ordem.caracteristicas" ng-click="setSelectedCaracteristicas(x)">
                                            <td>{{x.nome}}</td>
                                            <td style="text-align: center;">
                                                <a href="" ng-click="removerLinhaCaracteristica(x)">
                                                    <span class="glyphicon glyphicon-remove" style="color:red;"></span>
                                                </a>
                                            </td>
                                            <td>Adicionado</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="pull-right">
                        <button type="button" class="btn-primary btn" ng-click="submeterCadastro()" ng-disabled="salvarHabilitado()">Salvar</button>
                    </div>
                </div>
            </div>
          </div>
    </div>
</form>
