<div class="row jumbotron" style="padding:0px; heigth:65px !important; padding-left: 20px !important;">
    <h2>Cadastro de Características</h2>
</div>
<form class="" name="cadastroCaracteristicaForm">

    <div class="col-sm-12" style="background-color:white; padding-bottom:10px">
        <div class="col-sm-7" style="padding-left:0px; margin-top: -6px;">
            <p>Info: Insira uma imagem correspondente a característica a ser cadastrado</p>
            <form id="fileupload">
                <!-- Redirect browsers with JavaScript disabled to the origin page -->

                <div class="row fileupload-buttonbar">
                    <div class="col-lg-12">
                        <!-- O fileinput-botton span é usado para estilizar o campo de arquivo no botão -->
                        <span class="btn btn-success input-group btn-block">
                            <input type="file" class="form-control-file" accept="image/*" file-model="url.image" onchange="readURL(this);" ng-blur="alterarImagem()"/>
                        </span>
                        <div class="imagemCadatro mTop">
                            <img id="blah" src="#" alt="imagem" ng-show="url.image !== undefined">
                            <img id="imagemEdicao" src="uploads/{{caracteristica.imagem}}" alt="Imagem Inseto" ng-show="url.image === undefined && editMode === true && imagemAlterada === false">
                            <img id="temp" class="mTop" src="img/sem-imagem.png" alt="sem-imagem" ng-show="url.image === undefined && editMode === false" ng-required="true">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <fieldset>
                    <div class="form-group">
                        <label for="infoCadastro">Nome da Característica</label>
                        <input type="text" class="form-control" name="name" value="" ng-model="caracteristica.nome" ng-required="true">
                    </div>
                    <!-- ng-disabled="primeiraPosicao || segundaPosicao" -->
                    <button type="button" class="btn-info btn" ng-click="showModalPosicao()" ng-disabled="primeiraPosicao || segundaPosicao">Gerenciar Posição</button>
                    <button type="button" class="btn-info btn" ng-if="primeiraPosicao" ng-click="mudarPosicao(1)">Primeira Posicao</button>
                    <button type="button" class="btn-info btn" ng-if="segundaPosicao" ng-click="mudarPosicao(2)">Segunda Posicao</button>
                    <input type="text" name="" value="" disabled style="max-width: 50px" ng-model="caracteristica.posicao"></input>
                    <button type="button" name="button" ng-click="removerPosicao()" ng-if="caracteristica.posicao !== null && caracteristica.posicao !== undefined">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </fieldset>
            </div>
            <div class="row">
                <div class="pull-right">
                    <button type="button" class="btn-primary btn" ng-click="submeterCadastro()" ng-disabled="salvarHabilitado()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>
