<div style="background-color:gray; margin-top:0px; padding-top:0px;height: 30px;">
    <p style="color: white; padding-top:5px;">Gerenciar > Insetos</p>
</div>
<div class="col-sm-4" style="margin-top:10px" style="background-color: rgba(128, 128, 128, 0.22) !important;">
    <fieldset style="border: 1px groove #ddd !important;">
        <div class="col-sm-12" style=" background-color: rgba(128, 128, 128, 0.22) !important; padding-bottom:3px;">
            <label for="" class="mTop">Filtro</label>
            <div class="input-group" style="margin-bottom:10px">
                <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Filtragem automática...">
                <span class="input-group-btn">
                    <i class="glyphicon glyphicon-search btn btn-primary" type="button"></i>
                </span>
            </div>
        </div>
    </fieldset>
</div>
<div class="row ">
    <div class="col-sm-12">
        <h2 style="text-align: center;">Tabela de Insetos Cadastrados</h2>
    </div>
</div>

<div class="table-responsive col-sm-12">

    <table class="table ls-table" id="tabela1">
        <thead>
            <tr>
                <th class="txt-center"><input type="checkbox" ng-click="isEntidadeSelecionada()" ng-disabled="true"></th>
                <th>Nome</th>
                <th class="">Ordem</th>
                <th class="hidden-xs">Data Cadastro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in listInsetos | filter:criterioDeBusca " ng-click="setSelected(x)">
                <td class="txt-center"><input type="checkbox" ng-model="x.selecionado"></td>
                <td class="">
                    {{x.nome}}
                </td>
                <td class="">{{x.ordem.nome}}</td>
                <td class="hidden-xs"><span>{{x.dataCadastro | date:"dd/MM/yyyy 'às' h:mma"}}</span></td>
                <td class="">
                    <button type="button" name="button" ng-click="imagemModal()">
                        <span class="glyphicon glyphicon-picture"></span>
                    </button>
                    <button type="button" name="button" ng-click="removerRegistro(false)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" name="button" ng-click="irParaCadastro()">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-12 " style="padding-bottom:50px">
    <button class="btn btn-primary pull-right" type="button" name="button" style="margin-left:5px;margin-bottom:10px;" ng-click="acessarCadastro()">Cadastrar Novo Registro</buttom>
    <button class="btn btn-danger pull-right" type="button" name="button" style="margin-bottom:10px;" ng-disabled="!isEntidadeSelecionada()" ng-click="removerRegistro(true)">Deletar</button>
</div>
